.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background-color: #525252;
  height: 70vh;
}

.no-contact-page {
  display: block !important;
}

.center-image {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.work-together {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d7d7d7;
  padding: 20px;
}

.contact-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  font-family: "Noto Serif Display", serif;
  color: #ffffff;
  background-image: url("/assets/divine.jpg");
}
.contact-page h1 {
  margin-bottom: 3rem;
  font-family: "Avenue", "Times New Roman", Times, serif;
  font-size: 3rem;
}
.contact-page .contact2 {
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 5rem;
  border-radius: 0.4rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  min-width: 290px;
}
.contact-page .contact2 .login-form {
  padding: 2rem;
  min-width: 260px;
}
.contact-page .contact2 .login-form .login-input-container {
  margin-top: 2rem;
}
.contact-page .contact2 .login-form .login-input-container label {
  font-weight: 400;
  font-size: 1rem;
}
.contact-page .contact2 .login-form .login-input-container .input-content {
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  width: 100%;
  color: #fff;
}
.contact-page .contact2 .login-form .login-input-container .input-content:focus {
  outline: none !important;
}
.contact-page .contact2 .login-form .login-input-container input:not(:-moz-placeholder-shown) ~ label {
  margin-top: -60px;
  font-size: 12px;
}
.contact-page .contact2 .login-form .login-input-container input:focus ~ label,
.contact-page .contact2 .login-form .login-input-container input:not(:placeholder-shown) ~ label {
  margin-top: -60px;
  font-size: 12px;
}
.contact-page .contact2 .login-form .login-btn {
  background: #515151;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 5rem;
  transform: scale(1);
  transition: 0.2s;
  cursor: pointer;
}
.contact-page .contact2 .login-form .login-btn:active {
  transform: scale(0.95);
}
.contact-page .contact2 .login-form .login-btn p {
  color: whitesmoke;
  text-align: center;
  font-family: "Avenue", "Times New Roman", Times, serif;
}
.contact-page .custom-select {
  background-color: transparent;
}

.error-message {
  color: #ffcac3;
  font-family: "Noto Serif Display", serif;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 500;
}

/* styles/style.css */
/* Add this style to hide the language selector on the contact page */
.contact-page .lang-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .contact .work-together {
    font-size: 3rem;
    line-height: 55px;
    top: 60%;
  }
  .contact-page {
    height: auto;
    margin-top: 20rem;
  }
  .contact-page .contact2 {
    width: 700px;
  }
}
@media screen and (max-width: 760px) {
  .contact-page {
    height: auto;
    margin-top: 9rem;
    height: 60vh;
  }
  .contact-page .contact2 {
    padding: 0;
    width: auto;
  }
}/*# sourceMappingURL=contact.css.map */