.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background-color: #525252;
  height: 70vh;
}

.center-image {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.work-together {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d7d7d7;
  padding: 20px;
}

.contact-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  font-family: 'Noto Serif Display', serif;
  color: #ffffff;
  background-image: url('/assets/divine.jpg');

  h1 {
    margin-bottom: 3rem;
    font-family: 'Avenue', 'Times New Roman', Times, serif;
    font-size: 3rem;
  }

  .contact2 {
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    padding: 5rem;
    border-radius: 0.4rem;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    min-width: 290px;

    .login-form {
      padding: 2rem;
      min-width: 260px;

      .login-input-container {
        margin-top: 2rem;

        label {
          font-weight: 400;
          font-size: 1rem;
        }

        .input-content {
          height: 40px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #fff;
          font-size: 16px;
          width: 100%;
          color: #fff;

          &:focus {
            outline: none !important;
          }
        }

        input:focus ~ label,
        input:not(:placeholder-shown) ~ label {
          margin-top: -60px;
          font-size: 12px;
        }
      }

      .login-btn {
        background: #6a5451;
        margin-top: 2rem;
        padding: 0.3rem;
        border-radius: 5rem;
        transform: scale(1);
        transition: 0.2s;
        cursor: pointer;

        &:active {
          transform: scale(0.95);
        }

        p {
          color: whitesmoke;
          text-align: center;
          font-family: 'Avenue', 'Times New Roman', Times, serif;
        }
      }
    }
  }
}

.error-message {
  color: #ffcac3;
  font-family: 'Noto Serif Display', serif;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .contact {
    height: auto;
    padding-top: 7rem;

    .work-together {
      font-size: 3rem;
      line-height: 55px;
      top: 60%;
    }
  }
  .contact-page {
    height: auto;
    margin-top: 20rem;

    .contact2 {
      width: 700px;
    }
  }
}
@media screen and (max-width: 760px) {
  .contact-page {
    height: auto;
    margin-top: 9rem;
    height: 60vh;
    .contact2 {
      padding: 0;
      width: auto;
    }
  }
}
