@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: 'Noto Serif Display', serif;
}

.section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
footer {
  .logo {
    width: 190px;
    height: 147px;
    object-fit: contain;
  }
}

.footer-distributed {
  width: 100%;
  text-align: left;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 42%;
}

.footer-left {
  padding-left: 6rem;
}

.footer-distributed h3 {
  color: whitesmoke;
  font-family: 'Noto Serif Display', serif;
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
  margin: 0;
}
.left-foo {
  color: white;
  a {
    color: white;
    text-decoration: none;
    font-style: italic;
    font-family: 'Noto Serif Display', serif;
  }
}
/* Footer links */

.footer-distributed .footer-links {
  color: whitesmoke;
  font-family: 'Noto Serif Display', serif;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: whitesmoke;
}

.footer-distributed .footer-company-name {
  color: whitesmoke;
  font-family: 'Noto Serif Display', serif;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: whitesmoke;
  font-family: 'Noto Serif Display', serif;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-links a:before {
  content: '|';
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #dcdcdc;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: whitesmoke;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-icons {
  .texts {
    color: white !important;
  }
}

@media (max-width: 1024px) {
  footer {
    .logo {
      height: 100px;
    }
    .footer-left {
      padding-left: 0;
    }
  }
  .footer-distributed {
    min-height: 70vh;
    padding: 55px 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    .footer-left,
    .footer-center,
    .footer-right {
      width: 100%;
    }
    .footer-company-name {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }
    .footer-right {
      p {
        display: flex;
        justify-content: center;
        width: 41%;
        margin: 0 auto;
      }
    }
  }

  @media (max-width: 768px) {
    footer {
      logo {
        height: 125px;
      }
    }
    .footer-distributed {
      padding: 5rem 0;
      h3 {
        font-size: 2rem;
      }
      .footer-right {
        p {
          width: 90%;
          margin: 0 auto;
          line-height: 20px;
        }
      }
    }
  }
}
