@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;1,200&family=Open+Sans:wght@600&display=swap");
@font-face {
  font-family: "Avenue";
  src: url("/fonts/Avenue.ttf") format("opentype"), url("fonts/Avenue.ttf") format("truetype");
}
html {
  font-size: 10px;
}

.number01::before {
  content: "Divine Inborn Studio";
  display: block;
  position: fixed;
  font-size: 25rem;
  line-height: 1;
  color: rgba(98, 97, 97, 0.05);
  left: 46px;
  top: 100px;
  font-family: "Avenue", sans-serif;
  text-align: center;
  z-index: 10;
  pointer-events: none;
}

.containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10rem;
}

.text-container,
.image-container {
  margin-bottom: 20rem;
}

.text-container {
  max-width: 100%;
  padding: 10rem;
  box-sizing: border-box;
  position: relative;
  margin-left: 7rem;
}
.text-container h2 {
  line-height: 55px;
  font-size: 5rem;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Noto Serif Display", serif;
  margin-bottom: 3rem;
}
.text-container p {
  line-height: 1.5;
  margin-bottom: 15px;
  font-size: 1.7rem;
  font-family: "Noto Serif Display", serif;
  font-weight: 300;
}
.text-container .button_slide {
  color: #101010;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0px;
  padding: 12px 28px;
  display: inline-block;
  font-family: "Noto Serif Display", serif;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #2d2d2d;
  transition: ease-out 0.4s;
  margin-top: 3rem;
  font-weight: 400;
  text-decoration: none;
  z-index: 100;
}
.text-container .slide_down:hover {
  box-shadow: inset 0 100px 0 0 rgb(5, 5, 5);
  color: whitesmoke;
}
.text-container .slide_right:hover {
  box-shadow: inset 400px 0 0 0 rgb(5, 5, 5);
  color: whitesmoke;
}
.text-container .slide_left:hover {
  box-shadow: inset 0 0 0 50px rgb(5, 5, 5);
  color: whitesmoke;
}
.text-container .slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 rgb(5, 5, 5);
  color: whitesmoke;
}
.text-container #outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}

.second {
  margin-left: -6rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.image-container img {
  width: 490px;
  height: 630px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 20px -19px 1px #ffffff;
}
.image-container:nth-child(3) {
  position: relative;
}
.image-container:nth-child(3) img {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 18rem;
  z-index: -1;
  box-shadow: -20px -19px 1px #ffffff;
}
@media (max-width: 1024px) {
  .image-container {
    grid-column: span 2;
  }
  .image-container:nth-child(3)::before {
    left: 0;
  }
  .image-container:nth-child(3) img {
    right: 0;
  }
}

@media (max-width: 1390px) {
  .containers {
    grid-template-columns: 1fr;
    padding: 0 0 5rem 0;
  }
  .image-container {
    grid-column: span 1;
    margin-bottom: 0;
  }
  .image-container img {
    width: 600px;
    height: 430px;
  }
  .text-container {
    padding: 0;
    margin: 5rem;
    text-align: center;
  }
  .text-container p {
    margin-bottom: 0;
  }
  .second {
    margin: 5rem;
  }
  .desktop-only {
    display: none;
  }
}
@media (max-width: 760px) {
  .containers {
    grid-template-columns: 1fr;
    padding: 0 0 5rem 0;
  }
  .image-container {
    grid-column: span 1;
    margin-bottom: 0;
  }
  .image-container img {
    width: 266px;
    height: 304px;
    margin: 1rem 2rem 2rem 0rem;
  }
  .text-container {
    padding: 0;
    margin: 0 3rem;
    text-align: center;
  }
  .text-container h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 26px;
  }
  .text-container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .text-container .last {
    margin-bottom: 2rem;
    font-weight: 600;
  }
  .text-container .button_slide {
    padding: 10px;
    font-size: 1rem;
    margin: 1rem 0 4rem 0;
  }
  .second {
    margin: 2rem;
  }
  .desktop-only {
    display: none;
  }
}/*# sourceMappingURL=reference.css.map */