.workee-page {
  background: #a6a6a6;
}
.workee-page .page {
  width: 100%;
  left: 74%;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workee-page .wrapper {
  position: absolute;
  top: 35%;
  left: 40%;
  width: 300px;
  height: 460px;
  perspective: 900px;
}
.workee-page .container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: 0.5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}
.workee-page #c0 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 300;
  box-shadow: 2px 20px 19px 6px rgba(0, 0, 0, 0.6705882353);
}
.workee-page #c1 {
  box-shadow: 2px 20px 19px 6px rgba(0, 0, 0, 0.6705882353);
  left: 100%;
  z-index: 0;
}
.workee-page #c2 {
  left: -100%;
  z-index: 0;
  box-shadow: 2px 20px 19px 6px rgba(0, 0, 0, 0.6705882353);
}
.workee-page .container:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: 0.5s all ease;
  z-index: 400;
}
.workee-page .image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
}
.workee-page span {
  position: absolute;
  top: 0%;
  left: 55%;
  border-radius: 100%;
  background-color: #fff;
  z-index: 10;
}
.workee-page .sun {
  position: absolute;
  top: 50%;
  height: 50%;
  left: 0%;
  width: 100%;
}
.workee-page .sun1 {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px #fff;
}
.workee-page .st4 {
  opacity: 1;
}
.workee-page #sh2 {
  opacity: 0.5;
}
.workee-page #sh3 {
  opacity: 0.3;
}
.workee-page #sh1 {
  opacity: 0.4;
}
.workee-page .st0 {
  stroke: none;
  stroke-miterlimit: 10;
}
.workee-page .st1 {
  fill: none;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.workee-page .st2 {
  background: linear-gradient(to top, #c4c4c4 0%, #795548 120%);
}
.workee-page .st3 {
  opacity: 0.3;
}
.workee-page .story {
  position: absolute;
  top: 32%;
  left: 0%;
  height: 68%;
  width: 100%;
  background: linear-gradient(to top, #c4c4c4 0%, #795548 120%);
  z-index: 30;
}
.workee-page #s1 {
  background: linear-gradient(to top, #c4c4c4 0%, #795548 120%);
}
.workee-page #s2 {
  background: linear-gradient(to top, #c4c4c4 0%, #795548 120%);
}
.workee-page .info {
  position: absolute;
  top: 16%;
}
.workee-page .info .button_pro {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: "Noto Serif Display", serif;
  margin: 1rem 0 3rem 0;
  font-weight: 400;
  font-style: italic;
}
.workee-page .info p {
  text-decoration: none;
  cursor: default;
  margin: 2rem;
}
.workee-page h3 {
  text-align: center;
  color: #eee;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  font-weight: 400;
  font-style: italic;
}
.workee-page h4 {
  color: #111;
  top: 45%;
  left: -45%;
  letter-spacing: 2px;
  width: 61rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  font-family: "Noto Serif Display", serif;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workee-page h1 {
  color: #111;
  position: fixed;
  top: 0%;
  left: 30%;
  letter-spacing: 2px;
}
.workee-page p {
  font-size: 14px;
  color: #fff;
  padding: 0px 9px 9px 9px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
}
.workee-page li {
  position: absolute;
  top: 63%;
  list-style: none;
  color: #111;
}
.workee-page .home-page {
  z-index: 9999;
  position: relative;
}
.workee-page .home-page .button_slide {
  color: #eaeaea;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0px;
  padding: 8px 28px;
  display: inline-block;
  font-family: "Noto Serif Display", serif;
  background-color: black;
  letter-spacing: 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #2d2d2d;
  transition: ease-out 0.4s;
  margin-top: 3rem;
  font-weight: 400;
  text-decoration: none;
}
.workee-page li:nth-child(1) {
  left: -57%;
  animation: simple1 1s linear infinite;
}
.workee-page li:nth-child(2) {
  right: -69%;
  animation: simple 1s linear infinite;
}

@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}
@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}
@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}
@media (max-width: 1024px) {
  .workee-page #c0,
  .workee-page #c1,
  .workee-page #c2 {
    position: static;
    margin-bottom: 5rem;
  }
  .workee-page .home-page a {
    margin: 3rem 0 3rem 0;
  }
  .workee-page .wrapper {
    position: static;
    width: 440px;
    height: 181rem;
    perspective: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 4rem 0 4rem;
  }
  .workee-page .container {
    position: relative;
    width: 100%;
    max-width: none;
    margin-bottom: 20px;
    transform: none !important;
    box-shadow: 0px 20px 50px #555;
    animation: none !important;
  }
  .workee-page .container:hover {
    cursor: pointer;
    transform: none !important;
    transition: 0.5s all ease;
    z-index: 400;
  }
  .workee-page h3 {
    margin: 2rem 0;
  }
  .workee-page h4 {
    letter-spacing: 2px;
    width: 66rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    font-family: "Noto Serif Display", serif;
    line-height: 25px;
  }
  .workee-page .home-page .button_slide {
    margin: 6rem 0 6rem 0;
  }
  .workee-page .info p {
    color: white;
    cursor: none;
  }
  .workee-page .info .disabled_btn {
    margin: 1rem;
  }
}
@media (max-width: 780px) {
  .workee-page .page {
    margin-top: 5rem;
  }
  .workee-page .page h4 {
    letter-spacing: 0;
    width: 34rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Noto Serif Display", serif;
    line-height: 25px;
  }
  .workee-page .wrapper {
    width: 320px;
    margin-top: -21rem;
  }
  .workee-page .wrapper .container:hover {
    cursor: none;
    transform: none !important;
    transition: none;
  }
  .workee-page .home-page .button_slide {
    border: 1px solid rgb(0, 0, 0);
    letter-spacing: 5px;
    font-size: 1rem;
    margin-top: 3rem;
    font-weight: 400;
    transition: none;
  }
  .workee-page .story {
    top: 31%;
    left: 0%;
    height: 75%;
  }
  .workee-page .info {
    top: 2%;
  }
  .workee-page .info .button_pro {
    font-size: 1rem;
    margin: 0rem 0 3rem 0;
  }
  .workee-page #c0 {
    width: 100%;
    height: 22%;
  }
  .workee-page #c1 {
    width: 100%;
    height: 22%;
  }
  .workee-page #c2 {
    width: 100%;
    height: 22%;
  }
}/*# sourceMappingURL=works.css.map */