@charset "UTF-8";
.workee-page .page {
  width: 100%;
  left: 74%;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workee-page .wrapper {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 300px;
  height: 500px;
  perspective: 900px;
}
.workee-page .container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: 0.5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}
.workee-page #c0 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
  z-index: 300;
  box-shadow: 0px 20px 100px #555;
}
.workee-page #c1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
  left: 100%;
  z-index: 0;
}
.workee-page #c2 {
  left: -100%;
  z-index: 0;
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
}
.workee-page .container:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: 0.5s all ease;
  z-index: 400;
}
.workee-page .image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
  background: linear-gradient(to top, #eba65b 30%, #d99267 100%);
}
.workee-page #i1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}
.workee-page #i2 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}
.workee-page span {
  position: absolute;
  top: 0%;
  left: 55%;
  border-radius: 100%;
  background-color: #fff;
  z-index: 10;
}
.workee-page .sun {
  position: absolute;
  top: 50%;
  height: 50%;
  left: 0%;
  width: 100%;
}
.workee-page .sun1 {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px #fff;
}
.workee-page .st4 {
  fill: #f8c56f;
  opacity: 1;
}
.workee-page .st5,
.workee-page .st7 {
  fill: #fff;
}
.workee-page #sh2 {
  opacity: 0.5;
}
.workee-page #sh3 {
  opacity: 0.3;
}
.workee-page .st6 {
  fill: #59476f;
}
.workee-page .st10 {
  fill: #c5a7e5;
  stroke: #222;
}
.workee-page .st11 {
  stroke: #212121;
  opacity: 0.5;
}
.workee-page #sh1 {
  fill: #f8c56f;
  opacity: 0.4;
}
.workee-page .st0 {
  fill: #a25a62;
  stroke: none;
  stroke-miterlimit: 10;
}
.workee-page .st1 {
  fill: none;
  stroke: #a25a62;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.workee-page .st2 {
  fill: #cd775c;
}
.workee-page .st3 {
  fill: #fff;
  opacity: 0.3;
}
.workee-page .story {
  position: absolute;
  top: 45%;
  left: 0%;
  height: 55%;
  width: 100%;
  background: linear-gradient(to bottom, #eba65b 0%, #d99267 40%);
  z-index: 30;
}
.workee-page #s1 {
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 100%);
}
.workee-page #s2 {
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 120%);
}
.workee-page .info {
  position: absolute;
  top: 10%;
}
.workee-page .info .button_pro {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Noto Serif Display", serif;
}
.workee-page h3 {
  text-align: center;
  text-shadow: 0px 0px 10px #eee;
  color: #eee;
  letter-spacing: 2px;
}
.workee-page h4 {
  color: #111;
  /* position: absolute; */
  top: 45%;
  left: -45%;
  letter-spacing: 2px;
  width: 61rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Noto Serif Display", serif;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workee-page h1 {
  color: #111;
  position: fixed;
  top: 0%;
  left: 30%;
  letter-spacing: 2px;
}
.workee-page p {
  font-size: 14px;
  color: #fff;
  padding: 0px 9px 9px 9px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
}
.workee-page li {
  position: absolute;
  top: 63%;
  list-style: none;
  color: #111;
}
.workee-page .home-page {
  position: relative;
}
.workee-page .home-page a {
  background: rgb(82, 82, 82);
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 1rem 2rem;
  color: white;
  margin-top: 3rem;
}
.workee-page li:nth-child(1) {
  left: -57%;
  animation: simple1 1s linear infinite;
}
.workee-page li:nth-child(2) {
  right: -69%;
  animation: simple 1s linear infinite;
}

@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}
@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}
@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}
@media (max-width: 1024px) {
  .workee-page #c0,
  .workee-page #c1,
  .workee-page #c2 {
    position: static;
  }
  .workee-page .home-page a {
    margin: 3rem 0 3rem 0;
  }
  .workee-page .wrapper {
    position: static;
    width: 440px;
    height: 181rem;
    perspective: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 4rem 0 4rem;
  }
  .workee-page .container {
    position: relative;
    width: 100%;
    max-width: none;
    margin-bottom: 20px;
    transform: none !important; /* Az előző transform ne alkalmazódjon */
    box-shadow: 0px 20px 50px #555;
    animation: none !important; /* Az előző animáció ne alkalmazódjon */
  }
  .workee-page .container:hover {
    cursor: pointer;
    transform: none !important; /* Az előző hover transform ne alkalmazódjon */
    transition: 0.5s all ease;
    z-index: 400;
  }
  .workee-page h4 {
    letter-spacing: 2px;
    width: 45rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Noto Serif Display", serif;
    line-height: 25px;
  }
}
@media (max-width: 780px) {
  .workee-page .page {
    margin-top: 2rem;
  }
  .workee-page .page h4 {
    letter-spacing: 2px;
    width: 22rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Noto Serif Display", serif;
    line-height: 19px;
  }
}/*# sourceMappingURL=works.css.map */