.workee-page {
  background: #a6a6a6;
  .page {
    width: 100%;
    left: 74%;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 300px;
    height: 500px;
    perspective: 900px;
  }

  .container {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: 0.5s all ease;
    transform: rotateX(60deg) scale(0.7);
    perspective: 900px;
    box-shadow: 0px 20px 50px #555;
    animation: entry 1s linear 1;
  }

  #c0 {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;

    z-index: 300;
    box-shadow: 2px 20px 19px 6px #000000ab;
  }

  #c1 {
    box-shadow: 2px 20px 19px 6px #000000ab;
    left: 100%;
    z-index: 0;
  }

  #c2 {
    left: -100%;
    z-index: 0;

    box-shadow: 2px 20px 19px 6px #000000ab;
  }

  .container:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: 0.5s all ease;
    z-index: 400;
  }

  .image {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 45%;
  }

  span {
    position: absolute;
    top: 0%;
    left: 55%;
    border-radius: 100%;
    background-color: #fff;
    z-index: 10;
  }

  .sun {
    position: absolute;
    top: 50%;
    height: 50%;
    left: 0%;
    width: 100%;
  }

  .sun1 {
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 10px #fff;
  }

  .st4 {
    opacity: 1;
  }

  #sh2 {
    opacity: 0.5;
  }

  #sh3 {
    opacity: 0.3;
  }

  #sh1 {
    opacity: 0.4;
  }

  .st0 {
    stroke: none;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;

    stroke-width: 2;
    stroke-miterlimit: 10;
  }

  .st2 {
    background: linear-gradient(to top, #c4c4c4 0%, #795548 120%);
  }

  .st3 {
    opacity: 0.3;
  }

  .story {
    position: absolute;
    top: 32%;
    left: 0%;
    height: 68%;
    width: 100%;
    background: linear-gradient(to top, #c4c4c4 0%, #795548 120%);
    z-index: 30;
  }

  #s1 {
    background: linear-gradient(to top, #c4c4c4 0%, #795548 120%);
  }

  #s2 {
    background: linear-gradient(to top, #c4c4c4 0%, #795548 120%);
  }

  .info {
    .button_pro {
      color: white;
      text-align: center;
      display: flex;
      justify-content: center;
      font-size: 2rem;
      font-family: 'Noto Serif Display', serif;
      margin: 1rem 0 3rem 0;
      font-weight: 400;
      font-style: italic;
    }
    .disabled_btn {
      color: grey;
      text-decoration: none;
      cursor: default;
      margin: 2rem;
    }
    position: absolute;
    top: 10%;
  }

  h3 {
    text-align: center;
    color: #eee;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    font-weight: 400;
    font-style: italic;
  }

  h4 {
    color: #111;

    top: 45%;
    left: -45%;
    letter-spacing: 2px;
    width: 61rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Noto Serif Display', serif;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: #111;
    position: fixed;
    top: 0%;
    left: 30%;
    letter-spacing: 2px;
  }

  p {
    font-size: 14px;
    color: #fff;
    padding: 0px 9px 9px 9px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1px;
  }

  li {
    position: absolute;
    top: 63%;
    list-style: none;
    color: #111;
  }
  .home-page {
    position: relative;
    .button_slide {
      color: #101010;
      border: 2px solid rgb(0 0 0);
      border-radius: 0px;
      padding: 8px 28px;
      display: inline-block;
      font-family: 'Noto Serif Display', serif;
      font-weight: 300;
      letter-spacing: 5px;
      font-size: 1.5rem;
      text-transform: uppercase;
      cursor: pointer;
      box-shadow: inset 0 0 0 0 #2d2d2d;
      transition: ease-out 0.4s;
      margin-top: 3rem;
      font-weight: 400;
      text-decoration: none;
    }

    .slide_down:hover {
      box-shadow: inset 0 100px 0 0 rgb(5, 5, 5);
      color: whitesmoke;
    }

    .slide_right:hover {
      box-shadow: inset 400px 0 0 0 rgb(5, 5, 5);
      color: whitesmoke;
    }

    .slide_left:hover {
      box-shadow: inset 0 0 0 50px rgb(5, 5, 5);
      color: whitesmoke;
    }

    .slide_diagonal:hover {
      box-shadow: inset 400px 50px 0 0 rgb(5, 5, 5);
      color: whitesmoke;
    }
  }
  li:nth-child(1) {
    left: -57%;
    animation: simple1 1s linear infinite;
  }

  li:nth-child(2) {
    right: -69%;
    animation: simple 1s linear infinite;
  }
}
@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}
@media (max-width: 1024px) {
  .workee-page {
    #c0,
    #c1,
    #c2 {
      position: static;
      margin-bottom: 5rem;
    }
    .home-page {
      a {
        margin: 3rem 0 3rem 0;
      }
    }
    .wrapper {
      position: static;
      width: 440px;
      height: 181rem;
      perspective: 900px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 0 4rem 0 4rem;
    }
    .container {
      position: relative;
      width: 100%;
      max-width: none;
      margin-bottom: 20px;
      transform: none !important; /* Az előző transform ne alkalmazódjon */
      box-shadow: 0px 20px 50px #555;
      animation: none !important; /* Az előző animáció ne alkalmazódjon */
    }

    .container:hover {
      cursor: pointer;
      transform: none !important; /* Az előző hover transform ne alkalmazódjon */
      transition: 0.5s all ease;
      z-index: 400;
    }
    h3 {
      margin: 2rem 0;
    }
    h4 {
      letter-spacing: 2px;
      width: 66rem;
      text-align: center;
      font-size: 3rem;
      font-weight: 500;
      font-family: 'Noto Serif Display', serif;
      line-height: 25px;
    }
    .home-page {
      .button_slide {
        margin: 6rem 0 6rem 0;
      }
    }
    .info {
      .disabled_btn {
        margin: 1rem;
      }
    }
  }
}
@media (max-width: 780px) {
  .workee-page {
    .page {
      margin-top: 5rem;
      h4 {
        letter-spacing: 0;
        width: 34rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        font-family: 'Noto Serif Display', serif;
        line-height: 25px;
      }
    }
    .wrapper {
      width: 320px;
      margin-top: -21rem;
    }
    .home-page {
      .button_slide {
        border: 1px solid rgb(0, 0, 0);
        letter-spacing: 5px;
        font-size: 1rem;
        margin-top: 3rem;
        font-weight: 400;
      }
    }
    .story {
      top: 31%;
      left: 0%;
      height: 75%;
    }
    .info {
      top: 2%;

      .button_pro {
        font-size: 1rem;
        margin: 0rem 0 3rem 0;
      }
    }
    #c0 {
      width: 100%;
      height: 22%;
    }

    #c1 {
      width: 100%;
      height: 22%;
    }

    #c2 {
      width: 100%;
      height: 22%;
    }
  }
}
