.class {
  position: relative;
  text-align: center;
  padding: 16rem 0;
  background-color: #e5e4e0;
}
.class .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 50px);
}
.class .main-content {
  position: relative;
}
.class .main-content .main-image {
  display: block;
  height: 576px;
  z-index: 1;
  object-fit: cover;
}
.class .main-content .small-image {
  position: absolute;
  z-index: 2;
  transition: opacity 0.3s ease;
  height: 230px;
}
.class .main-content .left {
  display: none;
}
.class .main-content .right {
  top: 50%;
  right: calc(50% - 340px);
  transform: translateY(-50%);
}
.class header {
  width: 100%;
  background: #e5e4e0;
}
.class header .container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.text-over-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
}
.text-over-image h1,
.text-over-image p {
  font-size: 3rem;
  margin: 0;
  text-shadow: 2px 2px 4px #240200;
}

.text-overlay {
  position: absolute;
  top: 78%;
  left: 70%;
  transform: translate(47%, -6%);
  z-index: 3;
  text-align: center;
  color: #fefefe;
  font-size: 2rem;
  line-height: 25px;
  text-shadow: 0px -2px 4px #240200;
}
.text-overlay p {
  width: 465px;
  font-weight: 400;
  font-style: italic;
}

.class {
  position: relative;
  background-color: #240200;
}
.class .title {
  font-size: 6rem;
  margin: 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 11%;
  transform: translate(-50%, -50%);
  color: #fff2ee;
  font-family: "Noto Serif Display", serif;
  text-shadow: 2px 2px 4px #240200;
  width: 64rem;
}

.main-image,
.text-overlay,
.small-image,
.title,
.navigation_button {
  opacity: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
@media screen and (max-width: 1024px) {
  .class .title {
    font-size: 5rem;
    line-height: 70px;
    width: auto;
  }
  .class .main-content .small-image {
    top: 94%;
  }
  .title {
    font-size: 6rem;
  }
  .text-overlay {
    top: 81%;
    left: 62%;
    transform: translate(50%, -6%);
  }
  .text-overlay p {
    width: 31rem;
  }
  .image {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .class {
    padding: 7rem 0 13rem 0;
  }
  .class .title {
    font-size: 3rem;
    line-height: 37px;
    width: 90%;
    top: 8%;
  }
  .class .text-overlay {
    top: 105%;
    left: -15%;
    transform: translate(50%, -6%);
    line-height: 18px;
    font-size: 1rem;
  }
  .class .text-overlay p {
    width: 31rem;
  }
  .class .main-content .main-image {
    height: 370px;
  }
  .class .main-content .left {
    left: calc(50% - 285px);
  }
  .class .main-content .small-image {
    display: none;
  }
  .image {
    height: 450px;
  }
}
#language-dropdown {
  background: transparent;
  outline: none;
  border: none;
  padding: 3rem;
  color: whitesmoke !important;
}

.custom-select {
  background-color: #240200;
}/*# sourceMappingURL=intro.css.map */