.class {
  position: relative;
  text-align: center;
  padding: 13rem 0;
  background-color: #e5e4e0;

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px);
  }

  .main-content {
    position: relative;

    .main-image {
      display: block;
      height: 576px;
      z-index: 1;
      object-fit: cover;
      filter: grayscale(1);
    }

    .small-image {
      position: absolute;
      z-index: 2;
      transition: opacity 0.3s ease;
      height: 320px;
      filter: grayscale(1);
    }

    .left {
      top: 490px;
      left: calc(50% - 413px);
      transform: translateY(-50%);
    }

    .right {
      top: 50%;
      right: calc(50% - 340px);
      transform: translateY(-50%);
    }
  }

  header {
    width: 100%;
    background: #e5e4e0;

    .container {
      width: 100%;
      max-width: 120rem;
      margin: 0 auto;
      padding: 0 1.5rem;
    }
  }
}

.text-over-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;

  h1,
  p {
    font-size: 3rem;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.text-overlay {
  position: absolute;
  top: 66%;
  left: 70%;
  transform: translate(47%, -6%);
  z-index: 3;
  text-align: center;
  color: #fefefe;
  font-size: 2rem;
  line-height: 25px;
  text-shadow: 0px -2px 4px rgba(0, 0, 0, 0.5);
  p {
    width: 465px;
    font-weight: 400;
    font-style: italic;
  }
}

.class {
  position: relative;
  background-color: #555555;

  .title {
    font-size: 9rem;
    margin: 0;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    color: white;
    font-family: 'Avenue', 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgb(62 60 60 / 10%);
  }
}

.main-image,
.text-overlay,
.small-image,
.title,
.navigation_button {
  opacity: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@media screen and (max-width: 1024px) {
  .class {
    .title {
      font-size: 8rem;
      line-height: 70px;
    }
    .main-content {
      .small-image {
        top: 58%;
      }
    }
  }
  .title {
    font-size: 6rem;
  }

  .text-overlay {
    top: 85%;
    left: 31%;
    transform: translate(50%, -6%);
  }

  .image {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .class {
    .title {
      font-size: 5rem;
      line-height: 47px;
    }

    .main-content {
      .main-image {
        height: 270px;
      }
      .left {
        left: calc(50% - 185px);
      }

      .small-image {
        top: 98%;
        height: 165px;
      }
    }
  }

  .image {
    height: 450px;
  }
}
#language-dropdown {
  background: transparent;
  outline: none;
  border: none;
  padding: 3rem;
  color: whitesmoke !important;
}

.custom-select {
  background-color: black;
}
