$nav-link-transition-delay: 0.6s;
html,
body {
  overflow-x: hidden;
}

.navigation {
  &_checkbox {
    display: none;
  }

  &_button {
    height: 8rem;
    width: 8rem;
    position: fixed;
    top: 3rem;
    right: 6rem;
    border-radius: 51%;
    z-index: 20000;
    box-shadow: -3px 0rem 0rem white;
    text-align: center;
    background-color: rgb(0 0 0);
    cursor: pointer;
  }
  &_background {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 2.5rem;
    right: 4.5rem;
    z-index: 1000;
    transition: transform 0.8s;
  }
  &_nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all 0.8s;
    background-image: url('/assets/BD768B7D-0844-45F9-8D00-363A8E9892EB.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &_list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  &_item {
    margin: 2rem;
    overflow: hidden;
  }
  &_link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 4rem;
      font-weight: 600;
      color: #ffffff;
      text-decoration: none !important;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        rgba(68, 42, 42, 0.07) 0%,
        rgb(0 0 0) 50%,
        #9e9e9e 50%
      );
      background-size: 220%;
      transition: all 0.4s;
      padding: 5px 3rem 5px 1rem;
      border-radius: 10px;
      /* width: 242px; */
      font-family: 'Noto Serif Display';
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      color: white;
      text-decoration: none !important;
      text-transform: uppercase;

      span {
        margin-right: 1rem;
        display: inline-block;
      }
    }
    &:hover,
    &:active {
      background-position: 100%;
      background-color: rgba(8, 2, 26, 0.068);
      translate: translateX(1rem);
    }
  }
  &_checkbox:checked ~ &_background {
    transform: scale(80);
  }
  &_checkbox:checked ~ &_nav {
    opacity: 1;
    width: 100%;
  }
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 4rem;
      height: 1px;
      background-color: #ffffff;
      display: inline-block;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &_button:hover &__icon::before {
    top: -1rem;
  }
  &_button:hover &__icon::after {
    top: 1rem;
  }
  &_checkbox:checked + &_button &__icon {
    background-color: transparent;
  }
  &_checkbox:checked + &_button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }
  &_checkbox:checked + &_button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}
@media screen and (max-width: 1024px) {
  .navigation {
    &_button {
    }
    &_background {
    }
    &_nav {
    }
    &_list {
    }
    &_item {
    }
    &_link {
      &:link,
      &:visited {
        font-size: 3rem;
        font-weight: 300;
        line-height: 71px;
      }
    }
  }
  .text-overlay {
  }
}
@media screen and (max-width: 780px) {
  .navigation {
    &_button {
      height: 4rem;
      width: 4rem;
      position: fixed;
      top: 0rem;
      right: 2rem;
    }
    &_background {
    }
    &_nav {
    }

    &_item {
    }
    &_link {
      &:link,
      &:visited {
        font-size: 1rem;
        font-weight: 300;
        line-height: 17px;
      }
    }
    &__icon {
      margin-top: 2rem;
      &,
      &::before,
      &::after {
        width: 2rem;
      }
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }
      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }
  }
  .text-overlay {
    display: none;
  }
}
